# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.log
*.bpk
*.dpk
*.bpl
*.db-shm
*.db-wal
*.opendb
*.db
*.db
*.pdb
*.pdb
*.exp
*.db
*.ipch

_build/intermediate/
_build/_game/sym/
_build/_game/Win64_Release/
_build/_game/bin_dbg/
_build/lib/
src/Launcher/Win64_Release/
src/Launcher/Start/
src/Launcher/Stalker-CoC/
src/packages/